#persona, #cuadros, #precio, #correo{
	margin-top: 2%;
}
.seccion-start{
	background-image: url(../img/mac.jpg);
	background-size: 100% 100%;
	height: 500px;
	color: white;

}
.txt-stop{
	margin-left: 5%;
	margin-top: 3%;
	font-size: 125%;
}

.txt-start{
	margin-left: 5%;
	margin-top: 15%;
	font-size: 355%;
}
.boton-learn{
	margin-left: 5%;
	margin-top: 2%;
	padding: 1% 2%;
	opacity: 0.5;
}
.i-redes{
	opacity: 0.5;
	margin-left: 5%;
	margin-top: 5%;
}
.about{
	text-align: center;
	margin-top: 11%;
	margin-bottom: 11%;
}
.i-h-p{
	margin-top: 8%;
}
.txt-key{
	text-align: center;
	font-size: 135%;
	margin-top: 2%;
}
.we-know{
	background-color: #DCDCDC;
	height: 450px;
}
.img-cel{
	width: 75%;
	border-radius: 5%;
	display: block;
	margin: auto;
	margin-top: 20%;
}
.btn-view{
	background-color: black;
	color: white;
	padding: 2% 4%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 5%;
}
#view{
	color: white;
}
.txt-we{
	margin-left: 5%;
	margin-top: 20%;
}
.parrafo-we{
	margin-left: 5%;
	margin-top: 3%;
}
.txt-team{
	text-align: center;
}
.the-team{
	margin-top: 11%;
	margin-bottom: 11%;
	height: 550%;
}
.txt-theones{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
	font-size: 120%;
}
.btn-contact{
	width: 100%;
	padding: 2% 2%;
}
.nombres-personas{
	font-size: 145%;
}
.puestos{
	font-size: 100%;
	margin-top: 12%;
	margin-bottom: 7%;
	color: gray;
}
#correo-contact{
	margin right: 444%;
}
.franja-gris{
	background-color: gray;
	height: 180px;
	margin-top: 11%;
	margin-bottom: 11%;
	
}
.numeros, .categorias{
	color: white;
	text-align: center;
	margin-top: 12%;
	margin-left: 5%;
	margin-right: 5%;
}
.txt-what-weve{
	text-align: center;
	font-size: 135%;
	margin-top: 3%;
	margin-bottom: 5%;
}
.txt-our{
	text-align: center;
	font-size: 145%;
}
.img-segundas{
	width: 100%;
	display: block;
	margin:auto;
	padding: 3%;
}
.img-ocho{
	margin-bottom:10%;
}
.our-skills{
	background-color: #DCDCDC;
	height: 450px;

}
.barras{
	
	padding: 1px;
}
.txt-barra{
	margin-top: 10%;
}
.barras{
	width: 70%;
}
.progress{
	width: 90%;
}
.txt-ourskills, .parrafo-our{
	margin-top: 10%;
	width: 90%;
	margin-left: 8%;
}
.datos{
	text-align: center;
	margin-top: 5%;
	width: 90%;

}
.uno{
	background-color: black;
	color: white;
}
.precio-box{
	font-size: 170%;
}
.txt-per{
	font-size: 50%;
}
.btn-sign{
	background-color: black;
	color: white;
	padding: 3% 8%;
}
.dos{
	background-color: #DCDCDC;
}
.pricing{
	height: 900px;
	background-color: gray;
}
.txt-pricing{
	text-align: center;
	color: white;
	margin-top: 10%;
}
.linea-pricing{
	background-color: white;
}
.unorojo{
	background-color: red;
	color: white;
}
.card{
	display: block;
	margin: auto;
}
.txt-contact{
	text-align: center;
	margin-top: 10%;
	font-size: 150%;
}
.parrafo-contact{
	text-align: center;
	font-size: 125%;
	margin-bottom: 7%;
}
.contact{
	height: 860px;
	background-color: #DCDCDC;
	
}
.span-chicago{
	margin-left: 3%;
}
.ubicacion,.tel, .email, .formulario{
	margin-left: 6%;
}

/*
.icono-img{

	width: 50%;
	margin-left: 2%;
	}
.mapa{

	width: 50%;
	margin right: 2%;
}
*/
.btn-send{
	background-color: black;
	color: white;
	margin-left: 6%;
	margin-top: 3%;
}
.btn-to, .i-redesfinal{
	display: block;
	margin: auto;
	margin-left: 50%;
}
.btn-to{
	margin-top: 5%;
}
.i-redesfinal{
	margin-top: 2%;
	color: white;
	margin-left: 49%;
}
.piedepagina{
	background-color: black;
	height: 200px;
}
.formulario{
	margin-top: 2%;
}
