#persona, #cuadros, #precio, #correo{
	margin-top: 2%;
}
.seccion-start{
	background-image: url(../img/mac.jpg);
	background-size: 100% 100%;
	height: 500px;
	color: white;

}
.txt-stop{
	margin-left: 5%;
	margin-top: 3%;
	font-size: 125%;
}

.txt-start{
	margin-left: 5%;
	margin-top: 15%;
	font-size: 355%;
}
.boton-learn{
	margin-left: 5%;
	margin-top: 2%;
	padding: 1% 2%;
	opacity: 0.5;
}
.i-redes{
	opacity: 0.5;
	margin-left: 5%;
	margin-top: 7%;
}
.about{
	text-align: center;
	margin-top: 11%;
	margin-bottom: 11%;
}
.i-h-p{
	margin-top: 8%;
}
.txt-key{
	text-align: center;
	font-size: 135%;
	margin-top: 2%;
}
.we-know{
	background-color: #DCDCDC;
	height: 450px;
}
.img-cel{
	width: 75%;
	border-radius: 5%;
	display: block;
	margin: auto;
	margin-top: 20%;
}
.btn-view{
	background-color: black;
	color: white;
	padding: 2% 4%;
	margin-top: 5%;
	margin-left: 5%;
	border-radius: 5%;
}
#view{
	color: white;
}
.txt-we{
	margin-left: 5%;
	margin-top: 20%;
}
.parrafo-we{
	margin-left: 5%;
	margin-top: 3%;
}